// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

@mixin sr-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: #000;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: #fff;
		display: block;
		font-size: 0.85rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

// Responsive breakpoints
@mixin mq-for-phone-only {
	@media (max-width: 599px) {
		@content;
	}
}
@mixin mq-for-table-portrait-up {
	@media (min-width: 600px) {
		@content;
	}
}
@mixin mq-for-table-landscape-up {
	@media (min-width: 900px) {
		@content;
	}
}
@mixin mq-for-desktop-up {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin mq-for-big-desktop-up {
	@media (min-width: 1800px) {
		@content;
	}
}

@mixin sub-menu-toggle(
	$color: black,
	$bgColor: rgba(255, 255, 255, 0.1),
	$border: 1px solid $color
) {
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		display: flex;
		flex-flow: wrap;
		border: $border;

		& > ul {
			width: 100%;
		}

		& + li {
			border-top: none;
		}

		& li {
			border-left: none;
			border-right: none;
		}

		& li:last-child {
			border-bottom: none;
		}
	}

	a {
		flex: 1;
		color: $color;
		display: block;
		font-size: 1em;
		line-height: 1.2;
		padding: 0.75em 1em;

		&:hover {
			text-decoration: none;
		}
	}

	.sub-menu {
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		transition: all 0.3s ease;
		background: $bgColor;

		a {
			font-size: 80%;
			padding-left: 2em;
		}
		ul a {
			padding-left: 3em;
		}
		ul ul a {
			padding-left: 4em;
		}
	}
	& .sub-menu-open > .sub-menu {
		visibility: visible;
		opacity: 1;
		max-height: 24rem;
	}

	.sub-menu-toggle {
		display: block;
		padding: 0.5em;
		width: 4em;
		text-align: center;
		border: none;
		border-left: $border;
		background: none;
		border-radius: 0;
		color: $color;

		&:hover,
		&:focus,
		&:active {
			border-left: $border;
			color: $color;
		}
		&::before {
			content: "\2b";
		}
	}
	& .sub-menu-open > .sub-menu-toggle::before {
		content: "\2212";
	}
}

@mixin vertical-heading {
	font-size: 1.1em;
	letter-spacing: 1px;
	text-align: right;
	white-space: nowrap;
	writing-mode: vertical-lr;
	transform: scale(-1);
	text-transform: uppercase;

	h2 {
		margin-right: 0;
	}
}
