.extra-content {
	margin-top: 2em;
	padding: 2em 0;
	position: relative;

	@include mq-for-table-portrait-up {
		display: grid;
		grid-gap: 0 2em;
		grid-template-columns: repeat(2, 1fr);
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		z-index: -1;
		width: 110vw;
		transform: translateX(-50%);
		background-color: rgba(0, 0, 0, 0.05);
	}
}
