.featured-project {
	position: relative;

	a {
		text-decoration: none;
		color: white;
	}

	header {
		border-left: 0.35rem solid white;
		margin-top: 1em;
		padding-left: 0.75em;
		position: absolute;
		bottom: 2rem;
		left: 2rem;
		z-index: 1;
	}

	h2 {
		color: white;
		font-size: 1.2rem;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 0;
	}

	.page-thumbnail {
		grid-column: span 3;
	}
}
