.gallery {
	display: flex;
	flex-flow: wrap;

	@supports (display: grid) {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(6, minmax(auto, 1fr));
	}
}

.gallery-item {
	margin-bottom: 1rem;
	width: calc(50% - 0.5rem);

	&:nth-child(2n-1) {
		margin-right: 1rem;
	}

	@supports (display: grid) {
		grid-column: span 3;
		margin-bottom: 0;
		width: 100%;

		&:nth-child(2n-1) {
			margin-right: 0;
		}
	}

	img {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	@include mq-for-table-portrait-up {
		& {
			grid-column: span 2;
		}

		&:nth-child(1),
		&:nth-child(2) {
			grid-column: span 3;
		}

		&:nth-child(6n),
		&:nth-child(9n) {
			grid-column: span 4;
		}

		&:nth-child(8n) {
			grid-column: span 6;
		}
	}
}
