.latest-projects {
	margin: 2em 0;

	h2 {
		margin-top: 0;
	}

	@include mq-for-table-portrait-up {
		display: flex;
		flex-flow: wrap;
		margin: 0 -1em;
	}

	@include mq-for-table-landscape-up {
		& > header {
			@include vertical-heading;

			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}

	.project {
		@extend .post-tile;

		@include mq-for-table-landscape-up {
			margin: 0 1em;
			width: calc(50% - 2em);
		}
	}

	footer {
		margin-top: 2em;
		width: 100%;

		@include mq-for-table-landscape-up {
			margin-left: 1em;
			margin-right: 1em;
		}

		a {
			@extend %btn;
		}
	}
}
