.post-tile {
	a {
		text-decoration: none;
	}

	a,
	img {
		display: block;
	}

	header {
		border-left: 0.35rem solid black;
		margin-top: 1em;
		padding-left: 0.75em;
	}

	h2 {
		font-size: 1.2rem;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 0;
	}

	.date {
		font-size: 0.85rem;
		margin-bottom: 0;
	}

	.terms {
		font-size: 0.85rem;
		line-height: 1.2;
		a {
			display: inline;
		}
	}
}
