.site-branding {
	max-width: 75%;
	margin-right: 2em;
}

.site-title {
	color: $color__secondary;
	font-size: 1rem;
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;
	max-width: 400px;

	a,
	img {
		display: block;
		height: auto;
		max-width: 100%;
	}
}
