.upcoming-projects {
	padding: 2em 0;
	position: relative;

	@include mq-for-table-portrait-up {
		display: flex;
		margin: 0 -1em;
	}

	h2 {
		margin-top: 0;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		z-index: -1;
		width: 100vw;
		transform: translateX(-50%);
		background-color: rgba(0, 0, 0, 0.05);
	}

	& > header {
		@include mq-for-table-landscape-up {
			@include vertical-heading;

			position: absolute;
			top: 2rem;
			left: 0;
			z-index: 1;
		}
	}

	.project {
		@extend .post-tile;

		margin: 1em 0;

		@include mq-for-table-portrait-up {
			margin: 0 1em;
			width: calc(33.33% - 2em);
		}
	}
}
