.archive {
	.site-main {
		@include mq-for-table-portrait-up {
			display: flex;
			flex-flow: wrap;

			margin-right: 1em;
			margin-left: 1em;

			article {
				margin: 0 1em 2em;
				width: calc(50% - 2em);
			}
		}

		@include mq-for-table-landscape-up {
			article {
				width: calc(33.33% - 2em);
			}
		}

		& > article {
			// Override grid block
			display: block;
		}
	}

	.project-categories {
		@extend %inline-menu;

		font-size: 0.8rem;
		margin-top: -1em;
		margin-right: 1em;
		margin-bottom: 2em;
		width: 100%;

		@include mq-for-table-portrait-up {
			text-align: right;
		}
		@include mq-for-table-landscape-up {
			font-size: 1rem;
		}

		a {
			color: #545454;
			padding-left: 0;

			@include mq-for-table-portrait-up {
				padding-left: 1em;
				padding-right: 0;
			}
		}

		.current {
			a {
				color: #000;
			}
		}
	}

	.project {
		margin: 2em 0;

		@include mq-for-table-portrait-up {
			margin: 0;
		}
	}
}
