.site-footer {
	@extend %container;

	padding: 3rem 0;
	color: #333;
	font-size: 85%;
	font-weight: 300;

	@include mq-for-table-portrait-up {
		display: flex;
		align-items: flex-end;
	}

	@include mq-for-table-landscape-up {
		padding-left: 4em;
	}

	&::before {
		background-color: $color__secondary;
		height: 1em;
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		z-index: -1;
		transform: translateX(-50%);
		width: 100vw;
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: $color__secondary;
		}
	}

	.social-links {
		justify-content: flex-end;

		a {
			margin-right: 0;
			margin-left: 0.5em;
		}
	}
}

.footer-contact {
	padding-top: 1em;
}

.site-info {
	text-align: right;
	font-weight: 700;
	margin-left: auto;
}

.site-copy {
	color: $color__secondary;
	text-transform: uppercase;
}

.site-address {
	color: #000;
}

.site-by {
	color: #999999;
}
