.site-header {
	align-items: flex-end;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-bottom: 2em;
	position: relative;
	width: 100%;

	.top-navigation {
		margin-left: auto;
	}
}
