body.home {
	.featured-project {
		display: block;
	}

	.site-main {
		padding-left: 0;

		@include mq-for-table-landscape-up {
			.container {
				margin: 2em 0;
				position: relative;

				display: grid;
				grid-template-areas: "text projects";
				grid-template-columns: 1fr 2fr;
				grid-gap: 0 2em;

				padding-left: 4em;
			}
		}
	}

	.page-content {
		margin: 1em 0 2em;
	}

	@include mq-for-table-landscape-up {
		.page {
			grid-area: text;
		}

		.page-content {
			margin: 0;
		}

		.latest-projects {
			grid-area: projects;
		}

		.upcoming-projects {
			display: flex;
			padding-left: 4em;
		}
	}
}
