nav {
	// @extend %inline-menu;

	ul {
		@extend %unstyled-list;
	}

	li {
		line-height: 1.2;
	}

	a {
		color: #000;
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;

		&:visited,
		&:active {
			color: #121212;
		}

		&:hover {
			color: #272727;
		}
	}
}

.top-navigation {
	font-size: 1.5em;

	@include mq-for-phone-only {
		.menu-text {
			@include sr-only;
		}
	}
}

.menu-toggle {
	@extend %unstyled-button;

	color: inherit;
	font-size: inherit;
	display: flex;
	text-transform: uppercase;
	align-items: center;

	.menu-text {
		margin-right: 0.5em;
	}
	.menu-icon {
		background-color: #000;
		color: #fff;
		font-size: 80%;
		padding: 0.2em 0.25em 0.25em;
		width: 1.5em;
	}

	.menu-open & i::before {
		content: "\f00d";
	}
}

.main-navigation {
	@extend %menu-toggle;

	background-color: rgba($color: #fff, $alpha: 0.95);
	padding: 1em 2em;
	display: flex;
	flex-flow: wrap;

	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 100;

	visibility: hidden;
	opacity: 0;
	max-height: 0;
	transition: opacity 0.3s ease;

	&.toggled {
		max-height: 100em;
		visibility: visible;
		opacity: 1;
	}

	@include mq-for-table-portrait-up {
		& > * {
			margin: 0 1em;
			width: calc(50% - 2em);
		}
	}

	.menu {
		font-size: 1.6em;
		margin-bottom: 1em;

		li {
			display: block;
		}

		a {
			color: #000;
			margin: 0.25em 0;

			&:visited,
			&:active {
				color: #333;
			}

			&:hover {
				color: $color__secondary;
			}
		}

		.current-menu-item a {
			color: $color__secondary;
		}
	}
}
