.site {
	min-height: 100vh;
	padding: 1em;
	overflow: hidden;

	@include mq-for-table-portrait-up {
		padding-left: 2em;
		padding-right: 2em;
	}
}

.site-main {
	@extend %container;

	display: block;

	@include mq-for-table-portrait-up {
		padding-left: 4em;

		// & > section,
		// & > article {
		// 	display: grid;
		// 	grid-template-columns: repeat(3, 1fr);
		// 	grid-gap: 0 2em;
		// }
	}

	.post {
		@extend .post-tile;
	}

	body.archive & {
		margin-bottom: 2em;
	}
}

.page-header {
	margin-bottom: 2em;

	@include mq-for-table-portrait-up {
		margin-bottom: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		font-size: 1rem;
		letter-spacing: 2px;

		@include vertical-heading;
	}
}

body.page:not(.home) .page {
	display: block;
	margin-bottom: 2em;

	@include mq-for-table-landscape-up {
		display: grid;
		grid-template-areas: "content thumbnail";
		grid-template-columns: 1fr 2fr;
		grid-gap: 0 2em;
	}

	.page-content {
		grid-area: content;
	}

	.page-thumbnail {
		grid-area: thumbnail;
	}
}

.page-title {
	line-height: 1;
	margin: 0;
	a {
		text-decoration: none;
	}
}

.page-thumbnail {
	margin-bottom: 1em;

	img {
		width: 100%;
	}

	@include mq-for-table-portrait-up {
		float: right;
		max-width: 50%;
		margin-left: 1em;
		margin-bottom: 2em;
	}

	@include mq-for-table-landscape-up {
		float: none;
		max-width: none;
		margin-left: 0;
	}

	grid-area: thumbnail;
}

.page-content {
	grid-area: content;

	& > :first-child {
		margin-top: 0;
	}
}

.page-content::after {
	background-color: #000;
	content: "";
	display: block;
	height: 0.35rem;
	margin: 1em 0;
	width: 10em;
	max-width: 65%;
}

.post-navigation {
	grid-column: 1 / -1;

	.nav-links {
		display: flex;
		justify-content: space-between;
		margin: 2em 0;
	}
}
