.single {
	.project {
		display: block;
		margin-bottom: 2em;

		@include mq-for-table-landscape-up {
			display: grid;
			grid-template-areas: "content thumbnail";
			grid-template-columns: 1fr 2fr;
			grid-gap: 0 2em;
		}

		.page-content {
			grid-area: content;
		}

		.page-thumbnail {
			grid-area: thumbnail;
		}
	}
}

.post-title {
	color: $color__secondary;
	font-size: 1.4rem;
	text-transform: uppercase;
}

.gallery {
	margin-top: 1rem;
	grid-column: 1 / -1;
}

@include mq-for-table-portrait-up {
	.single .gallery {
		grid-template-columns: repeat(6, minmax(auto, 1fr));
		grid-gap: 1rem;
	}
}
