a,
button,
input {
	&:focus {
		outline: 2px solid;
		outline-offset: 0.15em;
	}

	&:active {
		outline: 2px solid;
		outline-offset: 0.15em;
	}
}

:focus-within {
}

::selection {
	background-color: #000;
	color: #fff;
}
