h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	line-height: 1.2;
}

p {
	line-height: 1.65;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: #000;
	transition: color 0.3s ease, background 0.3s ease;

	&:visited,
	&:active {
		color: #141414;
	}

	&:hover {
		color: #282828;
	}
}

hr {
	border: none;
	background-color: #000;
	height: 0.35rem;
	text-align: left;
	margin: 1em 0;
	width: 10em;
}
